body {
   background-color: lightblue;
   font-family: 'Arial', sans-serif;
   text-align: center;
}

h1 {
   color: white;
   text-align: center;
}

p {
   font-size: 18px;
   line-height: 1.6;
   text-align: justify;
}

ul li {
   list-style-type: square;
   margin-left: 20px;
}

button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}