body {
   background-color: rgb(143, 172, 182);
   font-family: 'Arial', sans-serif;
   text-align: center;
   min-width: 500px;
   min-height: 500px;
}

h1 {
   color: rgb(240, 154, 154);
   text-align: center;
}

p {
   font-size: 21px;
   line-height: 1.6;
   text-align: center;
   font-family: Georgia;
}

button {
    background-color: rgb(68, 74, 81);
    border-color: azure;
    border: 10px;
    color: rgb(240, 154, 154);
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-self: center;
}