body {
   background-color: rgb(143, 172, 182);
   font-family: 'Arial', sans-serif;
   text-align: center;
   -webkit-text-stroke: 1px;
   -webkit-text-stroke-color: rgb(29, 55, 69);
   min-width: 500px;
   min-height: 1500px;
}

h1 {
   color: rgb(240, 154, 154);
   -webkit-text-stroke: 1px;
   -webkit-text-stroke-color: azure;
   text-align: center;
}
    
p {
   font-size: 21px;
   line-height: 1.6;
   text-align: center;
   font-family: Georgia;
}

button {
    background-color: rgb(68, 74, 81);
    outline-color: azure;
    outline: 15px;
    color: rgb(240, 154, 154);
    padding: 10px 20px;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: azure;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}