window {
   min-width: 500px;
   min-height: 500px;
}
body {
   background-color: rgb(143, 172, 182);
   font-family: 'Arial', sans-serif;
   text-align: center;
   min-width: 500px;
   min-height: 500px;
}

h1 {
   color: rgb(240, 154, 154);
   outline-color: rgb(36, 56, 84);
   outline: 2px;
   text-align: center;
}
    
p {
   font-size: 21px;
   line-height: 1.6;
   outline-color: azure;
   outline: 1px;
   text-align: center;
   font-family: Georgia;
}

button {
    background-color: rgb(68, 74, 81);
    outline-color: azure;
    outline: 2px;
    color: rgb(240, 154, 154);
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}