body {
   background-color: rgb(75, 78, 79);
   font-family: 'Arial', sans-serif;
   text-align: center;
}

h1 {
   color: rgb(240, 154, 154);
   text-align: center;
}

p {
   font-size: 18px;
   line-height: 1.6;
   text-align: center;
}

button {
    background-color: rgb(69, 65, 65);
    border: 2px;
    color: rgb(4, 55, 92);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}