body {
   background-color: lightblue;
   font-family: 'Arial', sans-serif;
}

h1 {
   color: white;
   text-align: center;
}

p {
   font-size: 18px;
   line-height: 1.6;
   text-align: justify;
}

ul li {
   list-style-type: square;
   margin-left: 20px;
}